==
<li {% if this.page.id=='home'|page %} class="current" {% endif %}><a href="{{'home'|page}}"><div>Главная</div></a></li>
<li {% if this.page.id=='news'|page %} class="current" {% endif %}><a href="{{'news'|page}}"><div>Новости</div></a></li>
<li {% if this.page.id=='concert'|page %} class="current" {% endif %}><a href="{{'concert'|page}}"><div>Концерты</div></a></li>
<li {% if this.page.id=='media'|page %} class="current" {% endif %}><a href="{{'media'|page}}"><div>Медиа</div></a></li>
<li {% if this.page.id=='about'|page %} class="current" {% endif %}><a href="{{'about'|page}}"><div>О группе</div></a></li>