==
<li>
    <a href="{% content 'social-links/facebook' %}" class="si-dark si-colored si-facebook" >
	<i class="icon-facebook"></i> 
	</a> 
</li>
<li>
	<a href="{% content 'social-links/instagram' %}" class="si-dark si-colored si-instagram">
		<i class="icon-instagram"></i> 
	</a> 
</li>
<li>
	<a href="{% content 'social-links/youtube' %}" class=" si-dark si-colored si-youtube" >
		<i class="icon-youtube"></i> 
	</a>
</li>
<!-- <li>
    <a href="tel:{% content 'social-links/phone' %}" class="si-dark si-colored si-facebook">
        <i class="icon-phone"></i> <strong>{% content 'social-links/phone' %}</strong>
    </a>
</li> -->